@import-once "veryless";
//global
@main_width:1000px;
@header_height:164px;
@footer_height:264px;


body{
  background-color: #000;
  background-image: url(../img/body_bg.png);
  background-position: 50% 0;
  background-repeat: no-repeat;
  font-family: "微软雅黑", "文泉驿微米黑", "黑体", "Microsoft Yahei", "STHeiti", "Microsoft JhengHei", "SimHei", serif;
}

.center1000{
  width:@main_width;
  margin: 0 auto;
}

//individual
header{
  height: @header_height;
  .center1000;
  background: url(../img/header_bg.png) no-repeat 50% 50%;
}

nav#topNav{
  padding-top: 14px;
  height:55px-14px;
  background: url(../img/topnav_bg.png) repeat-x;
  .container{
    .center1000;
    height: 54px;
    border-bottom: 1px solid #000;
    .logo{
      padding-left: 8px;
    }
    .weibo{
      float: right;
      padding-right: 30px;
    }
  }
}

.nav{
  margin: 0 auto;
  text-align: center;
  ul{
    display: inline-block;
    margin: 0;
  }
  li{
    list-style: none;
    float: left;
    padding: 0 28px;
    width: 155px;
    height: 30px;
    border-left: 1px solid #000;
    display: inline;
  }
  li:first-child{
    border-left:1px solid transparent !important;
  }
  li a{
    text-align: center;
    display: inline-block;
    width:154px;
    height:29px;
    border: 1px solid transparent;
  }
  li a:link,li a:visited, li a:hover, li a:active{
    color:#DFE0E4;
    letter-spacing: 1.5px;
    font-size: 18px;
    line-height: 28px;
    text-decoration: none;
    text-decoration-color: #dfe0e4;
  }
  .dropdown{
    position: relative;
  }
  .dropdown:hover ul.dropdown-menu{
    display: block;
  }
  ul.dropdown-menu{
    position: absolute;
    left:28px;
    padding: 0;
    display: none;
  }
  ul.dropdown-menu li{
    padding: 0 !important;
    border-top: 1px solid #7A858F !important;
    border-right: none !important;
    border-left: none !important;
    border-bottom: none !important;
  }
  ul.dropdown-menu li a{
    background-image: none !important;
    background-color: #2B343C !important;
  }
  ul.dropdown-menu li a:hover{
    background-color: #E7ECF0 !important;
    color: #2b343c !important;
  }
}

#mainNav{
  padding-top: 124px;
  li a{
    background: url(../img/nav_item_bg1.png) no-repeat 0 0;
  }
  li a:hover{
    background-image: url(../img/nav_item_bg1_hover.png);
  }
  li{
    border-left: 1px solid #176CA3;
  }
}

div#container{
  background:#ABAFB2 url(../img/container_bg.png) 100% 100% repeat-y;
  overflow: hidden;
  .center1000;
}

footer{
  height: @footer_height;
  .center1000;
  background: url(../img/footer_bg.png) no-repeat 50% 50%;
}

.clear{
  .clearfix();
}