article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
html {
  font-size: 100%;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:hover,
a:active {
  outline: 0;
}
a:hover {
  _zoom: 1;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
  image-rendering: optimizeQuality;
  /* Firefox 3.6+ */

  vertical-align: middle;
}
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
body {
  margin: 0;
  padding: 0;
  background-color: #000;
  background-image: url(../img/body_bg.png);
  background-position: 50% 0;
  background-repeat: no-repeat;
  font-family: "微软雅黑", "文泉驿微米黑", "黑体", "Microsoft Yahei", "STHeiti", "Microsoft JhengHei", "SimHei", serif;
}
a {
  text-decoration: none;
  color: inherit;
}
.center1000 {
  width: 1000px;
  margin: 0 auto;
}
header {
  height: 164px;
  width: 1000px;
  margin: 0 auto;
  background: url(../img/header_bg.png) no-repeat 50% 50%;
}
nav#topNav {
  padding-top: 14px;
  height: 41px;
  background: url(../img/topnav_bg.png) repeat-x;
}
nav#topNav .container {
  width: 1000px;
  margin: 0 auto;
  height: 54px;
  border-bottom: 1px solid #000;
}
nav#topNav .container .logo {
  padding-left: 8px;
}
nav#topNav .container .language {
  float: right;
  padding-right: 30px;
}
nav#topNav .container .language a {
  font-size: 16px;
  line-height: 18px;
  color: #A9A9A9;
}
.nav {
  margin: 0 auto;
  text-align: center;
}
.nav ul {
  display: inline-block;
  margin: 0;
}
.nav li {
  list-style: none;
  float: left;
  padding: 0 28px;
  width: 155px;
  height: 30px;
  border-left: 1px solid #000;
  display: inline;
}
.nav li:first-child {
  border-left: 1px solid transparent !important;
}
.nav li a {
  text-align: center;
  display: inline-block;
  width: 154px;
  height: 29px;
  border: 1px solid transparent;
}
.nav li a,
.nav li a:link,
.nav li a:visited,
.nav li a:hover,
.nav li a:active {
  color: #DFE0E4;
  letter-spacing: 1.5px;
  font-size: 18px;
  line-height: 28px;
  text-decoration: none;
  text-decoration-color: #dfe0e4;
}
.nav .menu-item {
  position: relative;
}
.nav .menu-item:hover ul.sub-menu {
  display: block;
}
.nav ul.sub-menu {
  position: absolute;
  left: 28px;
  padding: 0;
  display: none;
  z-index: 1000;
}
.nav ul.sub-menu li {
  padding: 0 !important;
  border-top: 1px solid #7A858F !important;
  border-right: none !important;
  border-left: none !important;
  border-bottom: none !important;
}
.nav ul.sub-menu li a {
  background-image: none !important;
  background-color: rgba(43,52,60,0.7) !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#b22b343c',endColorstr='#b22b343c')" !important;
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#b22b343c',endColorstr='#b22b343c')" !important;
}
.nav ul.sub-menu li a:hover {
  background-color: rgba(231,236,240,0.7) !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#b2e7ecf0',endColorstr='#b2e7ecf0')" !important;
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#b2e7ecf0',endColorstr='#b2e7ecf0')" !important;
  color: #2b343c !important;
}
#logo {
  display: block;
  width: 576px;
  height: 109px;
  padding-top: 10px;
  padding-left: 30px;
  float: left;
}
#mainNav {
  padding-top: 124px;
}
#mainNav li a {
  background: url(../img/nav_item_bg1.png) no-repeat 0 0;
}
#mainNav li a:hover {
  background-image: url(../img/nav_item_bg1_hover.png);
}
#mainNav li {
  border-left: 1px solid #176CA3;
}
div.bodyContainer {
  background: #abafb2 url(../img/container_bg.png) 100% 100% repeat-y;
  overflow: hidden;
  width: 1000px;
  margin: 0 auto;
}
div.bodyContainer .content {
  margin: 30px auto 60px auto;
  width: 904px;
  min-height: 300px;
  background-color: #FFF;
  background-color: rgba(255,255,255,0.9);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5ffffff',endColorstr='#e5ffffff')";
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5ffffff',endColorstr='#e5ffffff')";
}
div.bodyContainer .nav {
  color: #143859;
  overflow: hidden;
}
div.bodyContainer .nav .cat {
  float: left;
  display: inline-block;
  height: 30px;
  min-width: 154px;
  border: 1px solid transparent;
  text-align: center;
  background: url(../img/cat_bg.png) 50% 50% no-repeat;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 1.5px;
}
div.bodyContainer .nav .cat a {
  color: #143859;
  text-decoration: none;
}
div.bodyContainer .nav .back {
  float: right;
  display: inline-block;
  height: 30px;
  min-width: 75px;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
}
div.bodyContainer .nav .back a {
  color: #143859;
  letter-spacing: 1px;
  text-decoration: none;
}
footer {
  height: 264px;
  width: 1000px;
  margin: 0 auto;
  background: url(../img/footer_bg.png) no-repeat 50% 50%;
}
.clear {
  *zoom: 1;
}
.clear:before,
.clear:after {
  display: table;
  content: "";
  line-height: 0;
}
.clear:after {
  clear: both;
}
div#articleContainer .content .article {
  padding: 25px;
  overflow: hidden;
}
div#articleContainer .content .article p {
  padding: 0;
  margin: 0;
}
div#articleContainer .content .article .title {
  color: #000;
  font-size: 24px;
}
div#articleContainer .content .article .author {
  color: #808285;
  font-size: 12px;
  padding: 12px 0;
}
div#articleContainer .content .article .text p {
  color: #58595b;
  font-size: 14px;
}
div#indexContainer {
  height: 489px;
  background: url(../img/index_bg.png) no-repeat;
}
#topicList .topic:first-child {
  border-left: 1px solid #000;
}
#topicList .topic {
  float: left;
  width: 332px;
  height: 350px;
  background: #FFF;
  border-right: 1px solid #FFF;
  position: relative;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
}
#topicList .topic .front {
  z-index: 900;
  float: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 332px;
  height: 350px;
  background-color: #0088d0;
}
#topicList .topic .front img {
  border: none;
}
#topicList .topic .back {
  z-index: 800;
  float: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 272px;
  height: 280px;
  padding: 70px 30px 0 30px;
  background-color: #D4D6D8;
  color: #000;
}
#topicList .topic .back .title {
  font-size: 28px;
  line-height: 30px;
  padding: 0;
  margin: 5px 0 0 0;
}
#topicList .topic .back .info {
  font-size: 14px;
  padding: 0;
  margin: 5px 0 0 0;
}
.topic.flip .front {
  display: none;
  z-index: 900;
}
.topic.flip .back {
  z-index: 1000;
}
div#worksList {
  width: 888px;
  margin: 20px auto;
  overflow: hidden;
}
div#worksList .work {
  float: left;
  width: 220px;
  height: 184px;
  background: #FFF;
  border-right: 1px solid #FFF;
  overflow: hidden;
  margin-bottom: 20px;
}
div#worksList .work .img {
  background-color: #FFF;
  text-align: center;
  width: 220px;
  float: left;
  height: 123px;
}
div#worksList .work .intro {
  height: 45px;
  width: 200px;
  float: left;
  padding: 10px 8px;
  position: relative;
}
div#worksList .work .intro .triangle {
  position: absolute;
  left: 10px;
  top: -10px;
  border-color: transparent transparent #FFF transparent
      ;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  height: 0;
  width: 0;
  display: inline-block;
}
div#worksList .work .intro .title {
  font-size: 12px;
  line-height: 12px;
  margin: 0;
  padding: 0;
}
div#worksList .work .intro .info {
  font-size: 10px;
  line-height: 10px;
  padding: 0;
  margin: 4px 0 0 0;
}
div#oldContainer .year {
  display: block;
  width: 888px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
div#oldContainer .year > .mark .title {
  display: inline-block;
  height: 23px;
  min-width: 202px;
  padding-left: 5px;
  letter-spacing: 2px;
  text-align: left;
  line-height: 22px;
  font-size: 18px;
  color: #FFF;
  background: url(../img/old_item_bg.png) no-repeat;
}
div#oldContainer .year > .mark .direction {
  display: inline-block;
  height: 23px;
  float: right;
  margin-right: 20px;
}
div#oldContainer .year > .mark .direction a {
  color: #000;
  font-size: 22px;
  line-height: 22px;
}
div#oldContainer .year .works {
  height: 204px;
  width: 99999px;
  overflow: hidden;
}
div#oldContainer .year .work {
  float: left;
  width: 220px;
  height: 184px;
  background: #FFF;
  border: 1px solid #FFF;
  overflow: hidden;
  margin-bottom: 20px;
}
div#oldContainer .year .work .img {
  background-color: #0088d0;
  width: 220px;
  float: left;
  height: 123px;
}
div#oldContainer .year .work .intro {
  height: 45px;
  width: 200px;
  float: left;
  padding: 10px 8px;
  position: relative;
}
div#oldContainer .year .work .intro .triangle {
  position: absolute;
  left: 10px;
  top: -10px;
  border-color: transparent transparent #FFF transparent
        ;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  height: 0;
  width: 0;
  display: inline-block;
}
div#oldContainer .year .work .intro .title {
  font-size: 12px;
  line-height: 12px;
  margin: 0;
  padding: 0;
}
div#oldContainer .year .work .intro .info {
  font-size: 10px;
  line-height: 10px;
  padding: 0;
  margin: 4px 0 0 0;
}
div#newsContainer .topNews {
  width: 864px;
  margin: 20px auto 0 auto;
  overflow: hidden;
}
div#newsContainer .topNews .gallery {
  width: 520px;
  height: 290px;
  float: left;
  overflow: hidden;
  background-color: rgba(150,150,150,0.3);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c969696',endColorstr='#4c969696')";
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c969696',endColorstr='#4c969696')";
  margin: 0;
  padding: 0;
  position: relative;
}
div#newsContainer .topNews .gallery > .wrap {
  width: 99999px;
  overflow: hidden;
}
div#newsContainer .topNews .gallery > .wrap .news {
  float: left;
  display: block;
  width: 520px;
  height: 290px;
  position: relative;
}
div#newsContainer .topNews .gallery > .wrap .news .img {
  width: 520px;
  height: 290px;
}
div#newsContainer .topNews .gallery > .wrap .news .caption {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 500px;
  padding: 10px;
  background-color: rgba(0,0,0,0.8);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc000000',endColorstr='#cc000000')";
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc000000',endColorstr='#cc000000')";
  color: #FFF;
}
div#newsContainer .topNews .gallery > .wrap .news .caption .title {
  font-size: 12px;
  line-height: 12px;
  margin: 0;
  padding: 0;
}
div#newsContainer .topNews .gallery > .wrap .news .caption .info {
  font-size: 10px;
  line-height: 10px;
  padding: 0;
  margin: 4px 0 0 0;
}
div#newsContainer .topNews .gallery > .navi {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 100;
}
div#newsContainer .topNews .gallery > .navi a {
  height: 26px;
  width: 26px;
  display: inline-block;
  background-color: rgba(0,0,0 0.8,1);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff000000',endColorstr='#ff000000')";
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff000000',endColorstr='#ff000000')";
  color: #ffffff;
  font-weight: bold;
  font-size: 26px;
  line-height: 24px;
  text-align: center;
}
div#newsContainer .topNews .gallery > .navi a:hover {
  color: #000;
  background-color: rgba(100,100,100,0.5);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#7f646464',endColorstr='#7f646464')";
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#7f646464',endColorstr='#7f646464')";
}
div#newsContainer .topNews .topLock {
  float: right;
  width: 340px;
  height: 290px;
}
div#newsContainer .topNews .topLock hr {
  margin: 8px 0;
}
div#newsContainer .topNews .topLock .news:hover {
  background-color: #DDD;
}
div#newsContainer .topNews .topLock .news {
  height: 70px;
  padding: 5px;
}
div#newsContainer .topNews .topLock .news .title {
  margin: 0;
  letter-spacing: 2px;
  font-size: 26px;
  line-height: 26px;
  color: #1d85c7;
}
div#newsContainer .topNews .topLock .news .intro {
  margin: 0px;
  padding-top: 10px;
  font-size: 12px;
  line-height: 12px;
  color: #000;
}
div#newsContainer .newsList {
  width: 864px;
  margin: 10px auto;
  overflow: hidden;
}
div#newsContainer .newsList .news {
  overflow: hidden;
  height: 123px;
  border-bottom: 1px solid #DDD;
  padding: 10px 0;
}
div#newsContainer .newsList .news .img {
  background-color: #0088d0;
  width: 220px;
  float: left;
  height: 123px;
}
div#newsContainer .newsList .news .text {
  float: left;
  height: 123px;
  padding: 5px;
}
div#newsContainer .newsList .news .text .title {
  margin: 0;
  letter-spacing: 2px;
  font-size: 26px;
  line-height: 26px;
  color: #1d85c7;
}
div#newsContainer .newsList .news .text .intro {
  margin: 0px;
  padding-top: 10px;
  font-size: 12px;
  line-height: 12px;
  color: #000;
}
article * {
  font-family: "微软雅黑", "文泉驿微米黑", "黑体", "Microsoft Yahei", "STHeiti", "Microsoft JhengHei", "SimHei", serif;
}
article h1,
article h2,
article h3,
article h4,
article h5,
article p {
  padding: 0;
  margin: 0;
}
article h1,
article h2,
article h3,
article h4 {
  letter-spacing: 2px;
}
article h5,
article p,
article strong {
  letter-spacing: 1.5px;
}
article h1 {
  font-size: 32px;
  line-height: 32px;
  padding: 6px 0;
  font-weight: normal;
  color: #3579C1;
}
article h2 {
  color: #087FCA;
  font-size: 24px;
  line-height: 28px;
  padding: 0;
  font-weight: normal;
}
article h3 {
  color: #5E5AA8;
  font-size: 20px;
  line-height: 24px;
  padding: 0;
  font-weight: normal;
}
article h4 {
  color: #47B2AF;
  font-size: 20px;
  line-height: 24px;
  padding: 0;
  font-weight: normal;
}
article h5 {
  color: #8556A8;
  font-size: 12px;
  line-height: 14px;
  padding: 0;
  font-weight: normal;
}
article strong {
  color: #4b4849;
  font-size: 10px;
  font-weight: bold;
  line-height: 12px;
}
article p {
  color: #656368;
  font-size: 10px;
}
article a {
  font-weight: bold;
  text-decoration: underline;
}
article table {
  margin-bottom: 24px;
}
