* {
  font-family: "微软雅黑", "文泉驿微米黑", "黑体", "Microsoft Yahei", "STHeiti", "Microsoft JhengHei", "SimHei", serif;
}
h1,
h2,
h3,
h4,
h5,
p {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4 {
  letter-spacing: 2px;
}
h5,
p,
strong {
  letter-spacing: 1.5px;
}
h1 {
  font-size: 32px;
  line-height: 32px;
  padding: 6px 0;
  font-weight: normal;
  color: #3579C1;
}
h2 {
  color: #087FCA;
  font-size: 24px;
  line-height: 28px;
  padding: 0;
  font-weight: normal;
}
h3 {
  color: #5E5AA8;
  font-size: 20px;
  line-height: 24px;
  padding: 0;
  font-weight: normal;
}
h4 {
  color: #47B2AF;
  font-size: 20px;
  line-height: 24px;
  padding: 0;
  font-weight: normal;
}
h5 {
  color: #8556A8;
  font-size: 12px;
  line-height: 14px;
  padding: 0;
  font-weight: normal;
}
strong {
  color: #4b4849;
  font-size: 10px;
  font-weight: bold;
  line-height: 12px;
}
p {
  color: #656368;
  font-size: 10px;
}
a {
  font-weight: bold;
  text-decoration: underline;
}
